.concert-images-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.concert-image {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gallery-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
