.swiper {
  width: 100%;
  height: 90vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiperslide {
  position: relative;
}

.swiperslide1,
.swiperslide2,
.swiperslide3 {
  width: 100%;
  height: 90vh;
  max-width: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: bottom bottom; */
}
.swiperslide1 {
  background-size: cover;
  background-position: bottom bottom;
  background: linear-gradient(rgba(0, 0, 0, 0.551), rgba(0, 0, 0, 0.448)),
    url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYSKm1oIOyNlmnZeE87bz_GqULeeA87qbpWM-Gcc6YxKbR1fxv7wIJ2Y4pg1W4b-6bsCMUwRAD4zMrzcMSttyElD6HtGpg=s1600");
}
.swiperslide2 {
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/drive-viewer/AEYmBYQdzjM40XOaR4y0QAJKYH_YZYwRtGwdvksj9E7ZwW8ygZyN4Qq6IyZFJpnboYH3g-LuCaEzFUtXiQTiWH4t8B2jciSPxA=s1600");
}
.swiperslide3 {
  background-size: contain;
  background-repeat: repeat;
  background-image: url("../../assets/flier.jpg");
}
.swiperslide img {
  border-radius: 0;
  width: 50%;
  height: 100vh;
}

.swipe-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  margin-right: 20rem;
}
.swipe-text h2 {
  font-size: 8rem;
  margin-bottom: 0;
  font-family: Ornate;
  opacity: 0.6;
}
.swipe-text p {
  font-size: 2.5rem;
  width: 100%;
  color: #e5cf57;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0;
  line-height: 2rem;
  font-family: ladyLemon;
}
.counting {
  position: inherit;
  bottom: 0;
}
