.swiper {
  width: 100%;
  height: 90vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiperslide {
  position: relative;
}

.swiperslide1,
.swiperslide2,
.swiperslide3 {
  width: 100%;
  height: 90vh;
  max-width: 100%;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom bottom;
}
.swiperslide1 {
  background-size: cover;
  background-image: url("../../assets/terren-hurst-KU66acygwIY-unsplash.jpg");
}
.swiperslide2 {
  background-size: cover;
  background-image: url("../../assets/edwin-andrade-6liebVeAfrY-unsplash.jpg");
}
.swiperslide3 {
  background-size: cover;
  background-image: url("../../assets/xan-griffin-eA2t5EvcxU4-unsplash.jpg");
}
.swipe-text {
  position: absolute;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  margin-right: 20rem;
}
.swipe-text h2 {
  font-size: 12rem;
  margin-bottom: 0;
  opacity: 0.6;
}
.swipe-text p {
  font-size: 2.5rem;
  width: 100%;
  color: #e5cf57;
  font-weight: 600;
  letter-spacing: 10px;
  margin: 0;
  line-height: 2rem;
  font-family: ladyLemon;
}
.counting {
  position: inherit;
  bottom: 0;
}
