.footer-sect {
  width: 100%;
  background: var(--general-dark, #000000);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5vw;
  color: white;
}
.footer-container .comp ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  align-items: center;
}
.footer-container .comp ul li a {
  text-decoration: none;
}
.socials a {
  color: white;
  transition: 0.2s all ease;
  padding: 0.71rem;
  border: 0.31px solid white;
  border-radius: 50%;
  transition: 0.3s;
}
.footer-text a {
  font-size: .65rem;
  display: flex;
  text-decoration: none;
  gap: 0.2rem;
  align-items: center;
  color: rgb(224, 189, 64);
}
.footer-text a svg{
  font-size: 1rem;
}
.socials a:hover {
  cursor: pointer;
  border-color: rgb(224, 205, 64);
  color: white;
  transform: scale(1.1);
}
.sociall h4 {
  font-size: 1rem;
  font-family: inter;
  font-weight: 400;
}

a.btn {
  border: 1px solid white;
  color: white;
}
a.btn:hover {
  background-color: rgb(28, 43, 72);
  color: rgb(255, 255, 255);
  border: 1px solid white;
  /* color: rgb(0, 0, 0); */
}
li a {
  text-decoration: none;
  /* color: #fff; */
  /* font-size: 16px; */
  font-family: Montserrat;
  font-size: 0.775rem;
  font-style: normal;
  color: white;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  text-transform: uppercase;
  padding: 0.5rem;
  transition: 0.2s;
}
li a:hover {
  background-color: rgb(28, 43, 72);
  color: white;
  border-bottom: solid 3px white;
  border-radius: 5px;
}
li a.active {
  border-bottom: solid 3px rgb(224, 205, 64);
}
.comp {
  display: grid;
  gap: 2rem;
}
