@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800&family=Shadows+Into+Light&display=swap");
body {
  overflow-x: hidden;
}

@font-face {
  font-family: designer;
  src: url("./fonts/DESIGNER.otf");
}
@font-face {
  font-family: ladyLemon;
  src: url("./fonts/Lady\ Lemons.ttf");
}
@font-face {
  font-family: klsalite;
  src: url("./fonts/Klsaltlime.ttf");
}
@font-face {
  font-family: Ornate;
  src: url("./fonts/Ornate.otf");
}
@font-face {
  font-family: hazard;
  src: url("./fonts/Hazard.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.containers {
  width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}
.logo {
  width: 5rem;
}
.logoFooter {
  width: 13rem;
}
h1 {
  font-family: Inter;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
p {
  font-family: Raleway;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: auto;
}
ul {
  list-style: none;
}
ul li {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .swipe-text {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 675px) {
  .container {
    width: 95%;
  }
}

body {
  position: relative;
}
.countdown {
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  /* right: 30%; */
  display: flex;
  /* margin-top: 5rem; */
  /* background-color: red; */
}
.countdown h3 {
  text-align: center;
  font-family: designer;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 0.7rem;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  /* font-size: 16pt; */
  /* font-family: Arial, sans-serif; */
}
.title h1 {
  font-size: 6rem;
  color: #ffffffc4;
  font-family: inter;
  text-transform: capitalize;
  font-weight: 500;
}
section {
  position: relative;
}
.layout {
  position: relative;
}
.headerr {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.gallery-sect {
  display: flex;
  /* gap: 0.51rem; */
  overflow: scroll;
  /* margin: 5rem 0; */
  scroll-snap-type: x mandatory;
}
.gallery-sect img {
  width: 250rem;
  height: 20rem;
  /* border-radius: 20%; */
  scroll-snap-align: start; /* Align images to the start of the scroll container */

  object-fit: cover;
}
/* Your existing styles */
.mobile-menu-icons {
  display: none;
}
#contact {
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .contact-confetti {
    right: 0;
    top: -5%;
    width: 3rem;
    position: absolute;
  }
  .mobile-menu-icons {
    display: block;
    cursor: pointer;
  }
  /* Add mobile styles here */
  .both-div-icon {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw; */
  }
  nav ul {
    /* display: none; */
    position: absolute;
    transform: translateX(-90%);
    flex-direction: column;
    background-color: #615f5f;
    padding: 3rem 0;
    right: 120;
    width: 100vw;
    height: 100vh;
    transition: 0.4s ease;
  }
  nav.active ul {
    transform: translateX(90%);
  }
  .detailsss {
    flex-direction: column;
    padding: 1rem;
    width: fit-content;
    gap: 1rem;
    margin: 0 auto;
  }
  .aboutsect {
    /* background-color: red; */
    padding-top: 20rem;
    padding-bottom: 10rem;
  }
  .about-container {
    align-items: center;
    width: fit-content;
  }
  .about {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* flex-direction: column; */
    /* background-color: green; */
  }
  .about-confetti {
    bottom: 5%;
    width: 3.9rem;
  }
  .about img {
    width: 100%;
    margin-bottom: 2rem;
  }
  .aboutcontent {
    align-items: center;
  }
  .quote h3 {
    font-size: 1.72rem;
  }

  .ministers .minister .ministerdiv img {
    /* width: 13rem;
    height: 15rem; */
    /* border-width: 5px; */
  }
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }
  .sociall {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
  }
  .countdown h3 {
    font-size: 1.7rem;
  }
  .confetti2 {
    bottom: 50%;
  }
  #contact {
    grid-template-columns: 1fr;
  }
  .contact-details,
  .contact-form {
    padding: 2rem;
    width: 100vw;
  }
  .give-sect h3 {
    font-size: 2rem;
  }
  .slidImg {
    width: 5rem;
  }
  .swipe-text h2 {
    font-size: 6rem;
  }
  .swipe-text p {
    font-size: 1rem;
    width: 70%;
    color: #d5ba22;
    font-weight: 600;
    letter-spacing: 5px;
    margin: 0;
    line-height: 2rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.496);
  }
  .swiper {
    height: 100%;
  }
  .swiper-slide img {
    height: 100%;
  }
  .aboutcontent {
    padding: 0 1rem;
  }
  .conveyner {
    grid-template-columns: 1fr;
  }
  .conveyner .image img {
    width: 100%;
  }
  html {
    overflow-x: hidden;
  }
  .mySwiper {
    border-radius: 0;
  }
  .swiper-slide .swiper-slide-img {
    height: 100%;
    width: 100vw;
    border-radius: 0;
  }
  .bout-confetti1 {
    bottom: 42%;
    right: 0;
  }
  .confetti4 {
    top: 15%;
    right: 0;
    width: 5rem;
  }
  .detail-details h4 {
    font-size: 1.2rem;
  }
  .detail-details p {
    font-size: 0.71rem;
  }
  .detailssseeee {
    display: block;
  }
  .swipe-text p {
    font-weight: bold;
  }
  .swipe-text {
    align-items: center;
    justify-content: center;
  }
  .about-container {
    padding-top: 0.51rem;
  }
  .counting {
    font-size: 0.51rem;
  }
  .detailsss {
    position: static;
    border-radius: 0;
  }
  .countdown h3 {
    margin: 0 0.2rem;
    -webkit-text-stroke-width: 1px;
  }
  .ddddd {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
  .volunteer-sect {
    background-repeat: no-repeat;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: .92s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom .31s ease-in;
}
.active.fade-left {
  animation: fade-left 0.31s ease-in;
}
.active.fade-right {
  animation: fade-right 0.31s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0.8;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.navUl{
  display: flex;
  align-items: center;
}
